@media (max-width: 1200px) {
  .images__top {
    grid-template-rows: 200px;
  }
  .img__top {
    height: 180px;
  }
  .img__bottom {
    height: 180px;
  }
  .catalog {
    .draggable {
      width: 800px;
    }
  }

  .objects {
    padding: 60px 0;
    &__wrapper {
      justify-content: center;
    }
    &__item {
      max-width: 350px;
    }
  }

  .improve {
    &__card {
      width: 300px;
      height: 480px;
    }
    &__cards {
    justify-content: center;
    column-gap: 30px;
    
  }
  }
  
}

@media (max-width: 1024px) {
  .promo {
    padding-bottom: 60px;
  }

  .about__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 0;
  }

  .about__text {
    margin-bottom: 30px;
  }

  .about__video {
    margin: 0 100px;
    height: 400px;
    .video__block {
      width: 100%;
    }
  }

  .steps {
    .draggable {
      max-width: 100%;
    }
  }
  .steps__card {
    width: 250px;
  }

  .images__top {
    grid-template-rows: 180px;
  }
  .img__top {
    height: 160px;
  }
  .img__bottom {
    height: 160px;
  }

  .images__top {
    column-gap: 15px;
  }

  .slider-construction__item {
    width: 425px;
  }
  .video__item {
    width: 350px;
  }

  .news {
    &__article {
      width: 450px;
    }
  }

}

@media (max-width: 992px) {
  .slider-construction__item {
      width: 350px;
    }
  
  .catalog {
    .draggable {
      width: 630px;
    }
  }

  .news {
  padding-bottom: 30px;
  &__article {
    margin-bottom: 30px;
  }
}

  .improve {
    &__card {
      width: 200px;
      height: 480px;
    }
  }

  .clients {
    &__company {
      flex-wrap: wrap;
    }
  }

  .build {
    .img__top-1 {
      width: 200px;
      height: 200px;
    }

    .img__top-2 {
      width: 200px;
      height: 200px;
      
    }

    .img__top-3 {
      width: 200px;
      height: 200px;
      
    }

    .left-bottom {
      
      row-gap: 20px;
      &__top {
        width: 150px;
        height: 150px;
       
      }
      &__bottom {
        width: 150px;
        height: 150px;
        
      }
    }

    .right-bottom {
      
      row-gap: 20px;

      &__top {
        width: 150px;
        height: 150px;
       
      }

      &__bottom {
        width: 150px;
        height: 150px;
        
      }
    }

    .img__center {
      width: 290px;
      height: 320px;
      
    }
  }


}



@media (max-width: 767px) {

  .body.lock {
    overflow: hidden;
  }

  h1 {
    font-size: 2em;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.1;
  }

  h3 {
    font-size: 1em;
    line-height: 1;
  }

  .header{
    &__burger {
      display: block;
      width: 50px;
      height: 40px;
      position: absolute;
      cursor: pointer;
      z-index: 3;
      right: 10px;
      top: 10px;
      
    
      &::before,
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 70%;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        transition: all 0.5s ease-in-out;
      }
    
      &::before {
        top: 10px;
      }
    
      &::after {
        bottom: 10px;
      }
    
      span {
        position: absolute;
        display: block;
        width: 70%;
        height: 2px;
        background-color: #fff;
        top: 19px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s ease-in-out;
      }
    }
    
    .info-header {
      &__contacts {
        display: none;
      }
    }

    &__menu {
      position: fixed;
      display: flex;
      flex-flow: row-reverse;
      justify-content: center;
      text-align: center;
      z-index: 3;
      width: 100%;
      height: 60px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.466);
    }

    .menu {

      &__item {
        margin-bottom: 20px;
      }
      &__list {
        display: none;
        margin-top: 30px;
        width: 100%;

      
      }
    }
  }

  .header__burger.active {
    &::before,
    &::after {
      background-color: #800000;
    }
  }

  .header__menu.active {
    width: 100%;
    height: 440px;
    background-color: #fff;
    transition: height 0.3s ease 0s;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.466);
  }

  .menu__list.active {
    transition: all 1s ease 5s;
    display: block;
    background-color: #fff;
    .menu__item {
      .menu__link {
 
        color: #800000;
      }
      
    }
  }
    

  .promo {
    padding-bottom: 40px;
    &__wrapper {
      width: 500px;
    }
  }

  .about__wrapper {
    padding: 40px 0;
  }
  .cards {
    padding: 20px 0 40px 0;
  }

  .benefits {
    padding: 40px 0;
    &__wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
    }
  }

  .steps {
  padding: 40px 0;
  }

  .call {
    height: 500px;
    padding: 90px 0;
    margin-bottom: 40px;
    &__content {
      width: 500px;
    }
  }

  .construction {
    padding: 40px 0 40px 0;
    &__title {
      width: 500px;
    }
    &__text {
      width: 500px;
    }
  }

  .slider-construction__item {
    margin-bottom: 40px;
  }

  .video {
    padding: 40px 0;
  }


  .video__wrapper {
  flex-direction: column;
  }
  .catalog {
    padding: 40px 0 30px 0;
    .slide-catalog {
      width: 400px;
      height: 550px;
      margin-bottom: 40px;
    }

    .draggable {
      width: 500px;
    }

  }

  .call-2 {
    height: 500px;
    padding: 115px 0;
    margin-bottom: 40px;
    &__content {
      width: 500px;
    }
  }

  .objects {
    padding: 40px 0;
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-bottom: 30px;
  }
  }

  .news {
    padding: 40px 0;
    &__article {
      margin-bottom: 30px;
    }
  }
  
  .improve {
    padding: 40px 0;
    &__cards {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    &__card {
      width: 500px;
      height: 300px;

    }
    .card-improve__title {
    margin-top: 0; 
}
  }
  .clients {
    padding: 40px 0;
  }

  .consultation {
    padding: 40px 0;
  }

  .footer {
    &__wrapper {
      column-gap: 35px;
    }
  }

  .build {
    padding: 40px 0;


    .top__img {
      width:150px;
      height: 150px;
    }
    .left-bottom {
      &__top {
        width: 100px;
        height: 100px;
      }
      &__bottom {
        width: 100px;
        height: 100px;
      }
    }

    .right-bottom {
      &__top {
        width: 100px;
        height: 100px;
      }
      &__bottom {
        width: 100px;
        height: 100px;
      }
    }
    .img__center {
      width: 245px;
      height: 220px;
    }
  }


  .footer {
    padding: 40px 0 0 0;
  }

  // Wienerberger 

  .wrapper-promo__wienerberger {
    width: 100%;
  }

  .memo__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .memo__content {
    margin-left: 0;
    margin-top: 30px;
  }
  .memo__image {
    max-width: 450px;
  }
  .memo__content {
    max-width: 450px;
  }

  .wienerberger {
    padding: 40px 0;
  }
  .wienerberger__subtitle {
    max-width: 500px;
  }
  .wienerberger__subtitle:before {
    top: 45px;
  }
 
}

@media (max-width: 561px) {
  .info-header {
    flex-direction: column;
    row-gap: 10px;
  }

  .info-header__logo {
    margin: 0 auto;
  }
  
  .info-header__button {
    display: none;
  }
  .promo__wrapper {
    width: 300px;
  }

  .about__video {
    margin: 0 auto;
    height: 200px;
  }

  .call__content {
    width: 300px;
  }

  .build {
    &__images {
      row-gap: 15px;
    }
    .images {
      &__top {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
      }

      &__bottom {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
      }
    }

    .img__top-1 {
      width: 300px;
      height: 300px;
    }

    .img__top-2 {
      width: 300px;
      height: 300px;
    }

    .img__top-3 {
      width: 300px;
      height: 300px;
    }

    .left-bottom {
      row-gap: 15px;

      &__top {
        width: 300px;
        height: 300px;
      }

      &__bottom {
        width: 300px;
        height: 300px;
      }
    }

    .right-bottom {
      row-gap: 15px;

      &__top {
        width: 300px;
        height: 300px;
      }

      &__bottom {
        width: 300px;
        height: 300px;
      }
    }

    .img__center {
      width: 300px;
      height: 300px;
    }
    
    .build-img {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  .construction__title {
    width: 300px;
  }
  .construction__text {
    width: 300px;
  }

  .catalog {
    .slide-catalog {
      width: 300px;
    } 
    .draggable {
      width: 300px;
    }
  }

  .call-2{
    &__content {
      width: 300px;
    }
  }

  .news {
    padding-top: 10px;
    &__article {
      width: 300px;
    }
    .article-news__content {
      width: 100%;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
  }
  
  .consultation__title {
    max-width: 300px
  }
  .footer {
    &__wrapper{
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
    }
    &__map {
      width: 300px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__contacts {
      align-items: center;
    }

  }

  .improve__card {
    width: 300px;
  }

  .slider-construction__item {
    width: 300px;
  }

  .slider-construction__content {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .cards__img {
    width: 190px;
  }

  .video__item {
    width: 300px;
  }

  // Wienerberger

  .wrapper-promo__wienerberger {
    width: 100%;
  }

  .memo {
    padding: 40px 0;
  }
  .memo__image {
    max-width: 300px;
  }

  .memo__content {
    max-width: 300px;
  }

  .wienerberger {
    &__text {
      text-align: center;
    }
  }
  .wienerberger__subtitle {
    max-width: 300px;
  }

  .wienerberger__subtitle:before {
    top: 60px;
  }
  .wienerberger__footer {
    max-width: 300px;
  }
  .wienerberger__footer:before {
    top: 50px;
  }

  .wrapper-benefits__unistroy {
    .item-benefits__icon {
      width: 35px;
    }
  }
}