@import "base/zeroing";

//Импортируем шрифты
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

// Общие настройки
html body {
  // overflow-x: hidden;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 1.3;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
}

h3 {
  font-size: 1.2em;
  line-height: 1.1;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

//------- Button ----------------//
.btn {
  display: inline-block;
  width: 12rem;
  height: 3rem;
  background: transparent;
  border: 1px solid #800000;
  border-radius: 0.6rem;
  padding: 0.8rem 1.3rem;
  color: #000;
  font-size: 1rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #800000;
    color: #fff;
    box-shadow: 2px 2px 3px #38040473;
    // border: none;
  }
}

//------------ Slider ------------//
.slick-dots {
  left: 0;
}
.slick-dots li.slick-active button:before {
  color: #800000;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #800000;
}

.draggable {
  width: 1000px;
  margin: 0 auto;
}

.slick-prev,
.slick-next {
  z-index: 2;

  &:before {
    font-size: 38px;
    color: #800000;
    opacity: 1;
  }

  &:hover {
    &::before {
      opacity: .75;
    }
  }
}

//------- Icons --------------//
.fa {
  color: #800000;
  &:before {
    font-size: 1.5rem;
  }
}

//----- Line ------//
.line {
  display: block;
  width: 50px;
  height: 7px;
  background: #800000;
  border-radius: 10px;
  margin: 40px auto 40px auto;
}

//------ Burger --------//
.header__burger.active {

  &::before {
    transform: rotate(45deg);
    top: 19px;
    left:9px;
  }
  &::after {
    transform: rotate(-45deg);
    bottom: 19px;
    left: 9px;
  }
  span {
    transform: scale(0);
  }
}

.header__burger {
  display: block;
}


//header

.header {

  &__info {
    padding: 1.5rem 0;

  }
  &__menu {
    position: fixed;
    top: 125px;
    z-index: 3;
    padding: 1.5rem 4rem 1.2rem 4rem;
    background: #800000;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.466);
  }
  
}
.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  height: 125px;
  &__logo {
    display: inline-block;
    max-width: 15rem;
    cursor: pointer;
    img {
      width: 100%;
    }
  }

  &__contacts {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    
    a {
      i>span {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    * i {
      span {
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
        margin-left: 0.5rem; 
      }
    }
  }
}

.info-header {
  &__connection {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__social {
    display: flex;
    justify-content: space-around;
    margin: auto;
    column-gap: 30px;
  }
  
}
.social {

  &__link {
    
    i {
      display: inline-block;
    }
    a {
      display: flex;
      width: 31px;
      height: 31px;
      border: 1px solid #800000;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease-in;
      &:hover {
        background-color: #800000;
        i {
          color: #fff;
        }
      }
    }
  }

  &__youtube {
    display: inline-block;
  }

  &__tg {
    display: inline-block;
  }

  &__vk {
    display: inline-block;
  }
}

//---- Menu -------

.menu {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  row-gap: 25px;
  flex-wrap: wrap;

  &__link {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      width: 0;
      height: 2px;
      background: #fff;
      transition: all 0.3s ease-out;
    }
    
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}

// Promo 

.promo {
  padding-bottom: 80px;
  position: relative;
  &__bg {
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__bg-1 {
    background-image: url("/img/bg/bg.jpg");
  }
  &__bg-2 {
    background-image: url("/img/bg/bg1.jpg");
  }
  &__bg-3 {
    background-image: url("/img/bg/bg2.jpg");
  }
  &__bg-4 {
    background-image: url("/img/bg/bg3.jpg");
  }
  &__bg-5 {
    background-image: url("/img/bg/bg4.jpg");
  }
  &__bg-6 {
    background-image: url("/img/bg/bg5.jpg");
  }

  &__wrapper {
    position: absolute;
    width: 700px;
    margin: 10rem auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__descr {
    font-size: 1.2em;
    line-height: 1.3;
  }

  &__button {
    background: #800000;
    color: #fff;
  }
  
  .draggable {
    width: 100%;
  }

  .slick-prev,
  .slick-next {
    &:before {
      display: none;
    }
  }
}

//------ About -----
.about {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    column-gap: 1.8rem;
  }

  &__tittle {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 1.1em;
    line-height: 1.3;
  }

  &__video {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99080842;
    border-radius: 10px;
    padding: 0 1px 1px 0;
  }
  .video__block {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: -6px 0 0 -6px;
  }
}

// ------ cards -------
.cards {
  padding: 40px 0 60px 0;

  &__wrapper {
    width: 100%;
    padding: 20px 40px;
  }

  &__block {
    margin: 0 auto;
    width: 210px;
    padding: 10px 10px;
  }
  &__img {
    margin-top: 20px;
    border-radius: 10px;
    width: 200px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 10px #38040473;
    &:hover {
      transform: scale(1.1);
    }
  }

  .draggable {
    width: 100%;
    padding: 10px 0;
  }
}

.img__card {
  display: block;
  border-radius: 10px;
  width: 100%;
}

//------ Benefits --------//

.benefits {
  padding: 80px 0;
  &__tittle {
    text-align: center;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 50px;
    padding-left: 20px;
  }

  &__item {
    display: flex;
  }
}

.item-benefits {
  &__icon {
    display: block;
    width: 60px;
    height: 50px;
    text-align: center;
  }

  &__descr {
    margin-left: 2rem;
    max-width: 400px;
  }

  &__subtittle {
    margin-bottom: 20px;
  }

  &__text {
    line-height: 1.2;
  }
}

.benefits-icon {
  &:before {
    display: block;
    margin: 10px auto;
    font-size:40px;
  }
}

//------ Steps ------// 

.steps {
  padding: 80px 0;
  &__title {
    text-align: center;
  }

  &__subtittle {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 40px;
  }

  &__card {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
  }

  .slick-next {
    right: 50px;
  }
  .slick-prev {
    left: 50px;
  }



}

.card {
  &__img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #38040473;
  }

  &__descr {
    margin-top: 20px;
    padding: 0 10px;
  }

  &__tittle {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.1;
  }

  &__text {
    margin-top: 10px;
    line-height: 1.1;
  }
}

//----- Call ----///

.call {
  height: 700px;
  background-image: url("/img/bg/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  &__content {
    display: block;
    width: 700px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__title {
    margin-bottom: 30px;
  }

  &__descr {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 50px;
  }

  &__btn {
    background-color: #800000;
    color: #fff;
  }
}

//------ Build -----//
.build {
  padding: 80px 0;
  text-align: center;
  &__images {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .images {
    &__top {
      display: flex;
      column-gap: 20px;
    }
    &__bottom {
      display: flex;
      column-gap: 20px;
    }
  }

  .build-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.5);
      
    }
  }
  
  .img__top-1 {
    width: 300px;
    height: 200px;
    background-image: url('/img/bg/bg1.jpg');
  }

  .img__top-2 {
    width: 300px;
    height: 200px;
    background-image: url('/img/bg/bg2.jpg');
  }

  .img__top-3 {
    width: 300px;
    height: 200px;
    background-image: url('/img/bg/bg3.jpg');
  }

  .left-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &__top {
      width: 200px;
      height: 200px;
      background-image: url('/img/bg/bg4.jpg');
    }
    &__bottom {
      width: 200px;
      height: 200px;
      background-image: url('/img/bg/bg5.jpg');
    }
  }

  .right-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &__top {
      width: 200px;
      height: 200px;
      background-image: url('/img/bg/bg6.png');
    }

    &__bottom {
      width: 200px;
      height: 200px;
      background-image: url('/img/bg/bg7.png');
    }
  }

  .img__center {
    width: 500px;
    height: 420px;
    background-image: url('/img/bg/bg.jpg');
  }

}

//---------Construction ---------//

.construction {
  padding: 80px 0 130px 0;
  text-align: center;
  &__title {
    display: inline-block;
    width: 550px;
  }

  &__text {
    display: inline-block;
    width: 650px;
    line-height: 1.2;
    font-size: 1.2em;
  }
}

.slider-construction {
  &__item {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  &__item-1 {
    background-image: url('/img/home/image_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-2 {
    background-image: url('/img/home/image_2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-3 {
    background-image: url('/img/home/image_3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  &__item-4 {
    background-image: url('/img/home/image_4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-5 {
    background-image: url('/img/home/image_5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-6 {
    background-image: url('/img/home/image_6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-7 {
    background-image: url('/img/home/image_7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    width: 250px;
    height: 100%;
    margin-left: auto;
    text-align: left;
    padding: 40px 0 30px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__text {
    color: #fff;
    text-transform: uppercase;
    width: 150px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__btn {
    background: #800000;
    color: #fff;
  }

  .slick-prev,
  .slick-next {
    top: 115%;
  }

  .slick-prev {
    left: 45%;
  }
  .slick-next {
    left: 52%;
  }

  .draggable {
    width: 100%;
  }

}

//------ Video -------// 
.video {
  padding: 80px 0;
  text-align: center;
  &__title {
    display: inline-block;
    max-width: 550px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    
  }

  &__item {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    width: 250px;
    height: 100%;
    margin-left: auto;
    text-align: left;
    padding: 40px 0 30px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__text {
    color: #fff;
    text-transform: uppercase;
    max-width: 150px;
    font-weight: 600;
    line-height: 1.2;
  }

  &__btn {
    background: #800000;
    color: #fff;
  }

  &__item-1 {
    background-image: url('/img/video/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__item-2 {
    background-image: url('/img/video/2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

//------- Catalog ------//

.catalog {
  padding: 80px 0;
  text-align: center;

  &__subtitle {
    font-size: 1.2em;
  }

  &__slider {
    margin-top: 30px;

    .slick-prev {
      left: 65px;
    }

    .slick-next {
      right: 65px;
    }
  }

}

.slide-catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 480px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.089);
  padding: 2px 2px 20px 2px;
  border-radius: 10px;
  margin: 0 auto;
  &__img {
    width: 100%;
    border-radius: 10px;
  }

  &__text {
    text-align: left;
    margin-top: 20px;
    margin-bottom: auto;
    padding: 0 8px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__descr {
    line-height: 1.2;
  }

  &__btn {
    margin: 0 auto;
    width: 90%;
  }
}

//-------Call-2------------//

.call-2 {
  height: 700px;
  background-image: url("/img/bg/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__content {
    display: block;
    width: 700px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__tittle {
    margin-bottom: 50px;
  }

  &__btn {
    background-color: #800000;
    color: #fff;
  }
}

//------- Objects --------//

.objects {
  padding: 80px 0;
  text-align: center;
  &__wrapper {
    display: flex;
    column-gap: 40px;
  }
  &__item {
    max-width: 580px;
  }
}

.item-objects {
  text-align: left;
  &__video {
    width: 100%;
    height: 250px;
    
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  &__title {
    margin-top: 20px;
  }

  &__descr {
    margin-top: 15px;
    line-height: 1.2;
    font-size: 1.2em;
  }
}

//-------- News -------//

.news {
  padding: 80px 0 130px 0;
  text-align: center;

  &__article {
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    color: #fff;
    margin: 0 auto;
    border-radius: 10px;
  }

  .slick-prev,
  .slick-next {
    top: 115%;
  }

  .slick-prev {
    left: 45%;
  }

  .slick-next {
    left: 52%;
  }

  .draggable {
    width: 100%;
  }
}

.article-news {
  &__content {
    width: 50%;
    height: 100%;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__news-1 {
    background-image: url('/img/news/news-1.jpg');
  }
  &__news-2 {
    background-image: url('/img/news/news-2.jpg');
  }
  &__news-3 {
    background-image: url('/img/news/news-3.jpg');
  }
  &__news-4 {
    background-image: url('/img/news/news-4.jpg');
  }

  &__descr {
    margin-top: 20px;
    line-height: 1.2;
  }

  &__btn {
    color: #fff;
    background-color: #800000;
    margin-top: auto;
  }
}

//-------- Improve -------//

.improve {
  padding: 80px 0;
  text-align: center;
  &__title {
    max-width: 600px;
    margin: 0 auto;
  }

  &__line {}

  &__descr {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.2;
    font-size: 1.2em;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
  }

  &__card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 380px;
    height: 570px;
    position: relative;
    color: #fff;
    text-align: left;
    border-radius: 10px;
  }

  &__card-1 {
    background-image: url('/img/idea/card-1.jpg');
  }

  &__card-2 {
    background-image: url('/img/idea/card-2.jpg');
  }

  &__card-3 {
    background-image: url('/img/idea/card-3.jpg');
  }
}

.card-improve {
  &__content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  &__title {
    margin-top: 50%;
  }

  &__decr {
    margin-top: 15px;
    line-height: 1.2;
  }

  &__btn {
    margin-top: auto;
    background-color: #800000;
    color: #fff;
  }
}

//---- Clients ----//

.clients {
  padding: 80px 0;
  text-align: center;

  &__text {
    font-size: 1.2em;
  }

  &__company {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
    margin-top: 30px;
  }
}

.compamy-clients {
  &__link {
    border: 1px solid transparent;
    padding: 10px 10px;
    border-radius: 10px;
    
    &:hover {
      border: 1px solid #800000;
      transition: all 0.5s ease-in-out;
    }
  }
}

// ------------ Form ---------//

.consultation {
  padding: 80px 0 0 0;
  &__title {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  &__form {
    height: 800px;
    background-image: url('/img/bg/bg5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0 80px 0;
  }
}

//----- Footer ------ //

.footer {
  padding: 80px 0 0 0;


  &__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    padding-bottom: 30px;
  }

  &__logo {
    display: inline-block;
    max-width: 250px;
    cursor: pointer;
  }
  &__info {}

  &__contacts {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    * a {
      
    }
    * span {
      color: #000;
      font-weight: 600;
      font-size: 1.2em;
      margin-left: 5px;
    }
  
  }

  &__social {
    display: flex;
    column-gap: 10px;
    margin-top: 40px;
  }

  &__map {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
  }

  &__copy {
    margin-top: 30px;
    padding:30px 0;
    background-color: #800000;
    color: #fff;
    text-align: center;
  }
}

.logo {
  &__img {
    width: 100%
  }
}

.contacts-footer {

  &__phone {
    span {
      &:hover {
        text-decoration: underline;
      }
    }
    
  }

  &__mail {
    span {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Wienerberger

.promo {

  &__bg-7 {
    background-image: url("/img/bg/bg7.png");
  }
}

.brands {
  padding: 90px 0 30px 0;
  &__wrapper {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    flex-wrap: wrap;
  }
  &__logo {
    display: block;
    width: 170px;
    img {
      width: 100%;
    }
  }
}


.about {
  &__wienerberger {
    margin-top: -100px;
  }

  &__text {
    max-width: 900px;
    line-height: 1.4;
    margin: 0 auto;
  }
}

.wrapper-promo__wienerberger {
  width: 100%;
  height: 700px;
  margin-top: 0;
  border-radius: 0;
  margin-bottom: 80px;
  .promo__tittle {
    max-width: 700px;
  }
}

.wrapper-about__wienerberger {
  display: block;
  text-align: center;
  padding: 40px 0 60px 0; 
}

.wrapper-benefits__wienerberger {
  margin-top: 60px;
}

.steps-specialization__wienerberger {
  .steps__title {
    margin-bottom: 30px;
  }
}

.porotherm {
  padding-bottom: 80px;
  &__logo {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    img {
      width: 100%;
    }
  }

  &__title {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0;
  }

  &__benefits {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    row-gap: 20px;
  }
}

.benefits-porotherm {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 285px;
    text-align: center;
    

  }

  &__icon {
    justify-self: flex-start;
    height: 50px;
    i {
      height: 100%;
    }
    .fa:before {
        font-size: 4rem;
      }
  }

  &__text {
    margin-top: 20px;
    line-height: 1.3em;
    font-size: 1.2em;
    height: 66px;
  }
}

.assortment {
  padding: 80px 0;
  &__title {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }

  &__cards{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
    max-width: 1100px;
    margin: 0 auto;
    margin-right: 20px;
    margin-top: 50px;
  }

  &__card {
    max-width: 255px;
    
  }

  &__img {
    border-radius: 10px;
    width: 100%;
  }
}

.ssortment {
  &__descr {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    margin-top: 15px;
  }
}


.certificate {
  margin: 80px 0;
  text-align: center;
  &__title {
    max-width: 700px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    row-gap: 20px;
  }

  &__item {
    max-width: 570px;
    img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
    }
  }
}

.memo {
  padding: 80px 0;
  

  &__title {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
  }

  &__image {
    max-width: 50%;
    img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
    }
  }

  &__content {
    max-width: 40%;
    margin: auto 0;
    margin-left: 50px;
  }
}

.content-memo {
  &__subtitle {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 30px;
    line-height: 1.2;
  }

  &__button {
    background-color: #800000;
    color: #fff;
    width: 14rem;
  }
}

.porothern-video {
  padding: 80px 0;
  &__title {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }

  &__video {
    max-width: 700px;
    height: 450px;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
    border-radius: 10px;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;

    }
  }
}

.wienerberger {
  padding: 80px 0;
  &__title {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }

  &__subtitle {
    position: relative;
    text-align: center;
    max-width: 700px;
    margin: 50px auto;
    &:after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: #800000;
      left: 0;
    }
  }

  &__subtitle {
    &:after {
      top: -20px;

    }
  }

  &__subtitle {
    &:before {
      top: 30px;

    }
  }

  &__text {
    line-height: 1.3;
    max-width: 800px;
    margin: 0 auto;
    p {
      margin-bottom: 30px;
    }
    span {
      font-weight: 600;
    }
  }

  &__footer {
    text-align: center;
    max-width: 500px;
    margin: 0px auto;
    margin-top: 50px;
    position: relative;;
    &:after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: #800000;
      left: 0;
    }
  }
  &__footer {
    &:after {
      top: -20px;

    }
  }

  &__footer {
    &:before {
      top: 30px;

    }
  }
}

.tittle-benefits {
  &__unistroy {
    margin: 0 auto;
    max-width: 700px;
  }
}

.text-benefits {
  &__unistroy {
    text-align: center;
    font-size: 1.3em;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 700px;
  }
}

.wrapper-benefits {
  &__unistroy {
    margin-top: 40px
  }
}


.certificate-unistroy {
  &__img {
    max-width: 500px;
    margin: 0 auto;
    img{
      width: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
      border-radius: 10px;
    }
  }
}


// Импортируем блоки //

@import 'form';
@import 'mobile';