@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html body {
  overflow-x: hidden;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 1.3;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
}

h3 {
  font-size: 1.2em;
  line-height: 1.1;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  width: 12rem;
  height: 3rem;
  background: transparent;
  border: 1px solid #800000;
  border-radius: 0.6rem;
  padding: 0.8rem 1.3rem;
  color: #000;
  font-size: 1rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #800000;
  color: #fff;
  box-shadow: 2px 2px 3px rgba(56, 4, 4, 0.4509803922);
}

.slick-dots {
  left: 0;
}

.slick-dots li.slick-active button:before {
  color: #800000;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #800000;
}

.draggable {
  width: 1000px;
  margin: 0 auto;
}

.slick-prev,
.slick-next {
  z-index: 2;
}
.slick-prev:before,
.slick-next:before {
  font-size: 38px;
  color: #800000;
  opacity: 1;
}
.slick-prev:hover::before,
.slick-next:hover::before {
  opacity: 0.75;
}

.fa {
  color: #800000;
}
.fa:before {
  font-size: 1.5rem;
}

.line {
  display: block;
  width: 50px;
  height: 7px;
  background: #800000;
  border-radius: 10px;
  margin: 40px auto 40px auto;
}

.header__burger.active::before {
  transform: rotate(45deg);
  top: 19px;
  left: 9px;
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 19px;
  left: 9px;
}
.header__burger.active span {
  transform: scale(0);
}

.header__info {
  padding: 1.5rem 0;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}
.info-header__logo {
  display: inline-block;
  max-width: 15rem;
  cursor: pointer;
}
.info-header__logo img {
  width: 100%;
}
.info-header__contacts {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.info-header__contacts a i > span:hover {
  text-decoration: underline;
}
.info-header__contacts * i span {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  margin-left: 0.5rem;
}

.info-header__connection {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.info-header__social {
  display: flex;
  justify-content: space-around;
  margin: auto;
  column-gap: 30px;
}

.social__link i {
  display: inline-block;
}
.social__link a {
  display: flex;
  width: 31px;
  height: 31px;
  border: 1px solid #800000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
}
.social__link a:hover {
  background-color: #800000;
}
.social__link a:hover i {
  color: #fff;
}
.social__youtube {
  display: inline-block;
}
.social__tg {
  display: inline-block;
}
.social__vk {
  display: inline-block;
}

.header__burger {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 1.5rem 4rem 1.2rem 4rem;
  background: #800000;
  column-gap: 25px;
  row-gap: 25px;
  flex-wrap: wrap;
}
.menu__item {
  position: relative;
}
.menu__item::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease-out;
}
.menu__item:hover:before {
  width: 100%;
}
.menu__link {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 5px;
}

.promo {
  padding-bottom: 80px;
  position: relative;
}
.promo__bg {
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.promo__bg-1 {
  background-image: url("/img/bg/bg.jpg");
}
.promo__bg-2 {
  background-image: url("/img/bg/bg1.jpg");
}
.promo__bg-3 {
  background-image: url("/img/bg/bg2.jpg");
}
.promo__bg-4 {
  background-image: url("/img/bg/bg3.jpg");
}
.promo__bg-5 {
  background-image: url("/img/bg/bg4.jpg");
}
.promo__bg-6 {
  background-image: url("/img/bg/bg5.jpg");
}
.promo__wrapper {
  position: absolute;
  width: 700px;
  margin: 10rem auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.promo__descr {
  font-size: 1.2em;
  line-height: 1.3;
}
.promo__button {
  background: #800000;
  color: #fff;
}
.promo .draggable {
  width: 100%;
}
.promo .slick-prev:before,
.promo .slick-next:before {
  display: none;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 0;
  column-gap: 1.8rem;
}
.about__tittle {
  margin-bottom: 20px;
}
.about__text {
  font-size: 1.1em;
  line-height: 1.3;
}
.about__video {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(153, 8, 8, 0.2588235294);
  border-radius: 10px;
  padding: 0 1px 1px 0;
}
.about .video__block {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: -6px 0 0 -6px;
}

.cards {
  padding: 40px 0 60px 0;
}
.cards__wrapper {
  width: 100%;
  padding: 20px 40px;
}
.cards__block {
  margin: 0 auto;
  width: 210px;
  padding: 10px 10px;
}
.cards__img {
  margin-top: 20px;
  border-radius: 10px;
  width: 200px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(56, 4, 4, 0.4509803922);
}
.cards__img:hover {
  transform: scale(1.1);
}
.cards .draggable {
  width: 100%;
  padding: 10px 0;
}

.img__card {
  display: block;
  border-radius: 10px;
  width: 100%;
}

.benefits {
  padding: 80px 0;
}
.benefits__tittle {
  text-align: center;
}
.benefits__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 50px;
  padding-left: 20px;
}
.benefits__item {
  display: flex;
}

.item-benefits__icon {
  display: block;
  width: 60px;
  height: 50px;
  text-align: center;
}
.item-benefits__descr {
  margin-left: 2rem;
  max-width: 400px;
}
.item-benefits__subtittle {
  margin-bottom: 20px;
}
.item-benefits__text {
  line-height: 1.2;
}

.benefits-icon:before {
  display: block;
  margin: 10px auto;
  font-size: 40px;
}

.steps {
  padding: 80px 0;
}
.steps__title {
  text-align: center;
}
.steps__subtittle {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 40px;
}
.steps__card {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
}
.steps .slick-next {
  right: 50px;
}
.steps .slick-prev {
  left: 50px;
}

.card__img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(56, 4, 4, 0.4509803922);
}
.card__descr {
  margin-top: 20px;
  padding: 0 10px;
}
.card__tittle {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
}
.card__text {
  margin-top: 10px;
  line-height: 1.1;
}

.call {
  height: 700px;
  background-image: url("/img/bg/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  position: relative;
}
.call::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.call__content {
  display: block;
  width: 700px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.call__title {
  margin-bottom: 30px;
}
.call__descr {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 50px;
}
.call__btn {
  background-color: #800000;
  color: #fff;
}

.build {
  padding: 80px 0;
  text-align: center;
}
.build__images {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.build .images__top {
  display: flex;
  column-gap: 20px;
}
.build .images__bottom {
  display: flex;
  column-gap: 20px;
}
.build .build-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.build .build-img:hover {
  transform: scale(1.5);
}
.build .img__top-1 {
  width: 300px;
  height: 200px;
  background-image: url("/img/bg/bg1.jpg");
}
.build .img__top-2 {
  width: 300px;
  height: 200px;
  background-image: url("/img/bg/bg2.jpg");
}
.build .img__top-3 {
  width: 300px;
  height: 200px;
  background-image: url("/img/bg/bg3.jpg");
}
.build .left-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.build .left-bottom__top {
  width: 200px;
  height: 200px;
  background-image: url("/img/bg/bg4.jpg");
}
.build .left-bottom__bottom {
  width: 200px;
  height: 200px;
  background-image: url("/img/bg/bg5.jpg");
}
.build .right-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.build .right-bottom__top {
  width: 200px;
  height: 200px;
  background-image: url("/img/bg/bg6.png");
}
.build .right-bottom__bottom {
  width: 200px;
  height: 200px;
  background-image: url("/img/bg/bg7.png");
}
.build .img__center {
  width: 500px;
  height: 420px;
  background-image: url("/img/bg/bg.jpg");
}

.construction {
  padding: 80px 0 130px 0;
  text-align: center;
}
.construction__title {
  display: inline-block;
  width: 550px;
}
.construction__text {
  display: inline-block;
  width: 650px;
  line-height: 1.2;
  font-size: 1.2em;
}

.slider-construction__item {
  width: 500px;
  height: 250px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
}
.slider-construction__item-1 {
  background-image: url("/img/home/image_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-construction__item-2 {
  background-image: url("/img/home/image_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-construction__item-3 {
  background-image: url("/img/home/image_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-construction__item-4 {
  background-image: url("/img/home/image_4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-construction__item-5 {
  background-image: url("/img/home/image_5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-construction__item-6 {
  background-image: url("/img/home/image_6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-construction__item-7 {
  background-image: url("/img/home/image_7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-construction__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  width: 250px;
  height: 100%;
  margin-left: auto;
  text-align: left;
  padding: 40px 0 30px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.slider-construction__text {
  color: #fff;
  text-transform: uppercase;
  width: 150px;
  font-weight: 600;
  line-height: 1.2;
}
.slider-construction__btn {
  background: #800000;
  color: #fff;
}
.slider-construction .slick-prev,
.slider-construction .slick-next {
  top: 115%;
}
.slider-construction .slick-prev {
  left: 45%;
}
.slider-construction .slick-next {
  left: 52%;
}
.slider-construction .draggable {
  width: 100%;
}

.video {
  padding: 80px 0;
  text-align: center;
}
.video__title {
  display: inline-block;
  max-width: 550px;
}
.video__wrapper {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.video__item {
  width: 500px;
  height: 250px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
}
.video__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  width: 250px;
  height: 100%;
  margin-left: auto;
  text-align: left;
  padding: 40px 0 30px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.video__text {
  color: #fff;
  text-transform: uppercase;
  max-width: 150px;
  font-weight: 600;
  line-height: 1.2;
}
.video__btn {
  background: #800000;
  color: #fff;
}
.video__item-1 {
  background-image: url("/img/video/1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video__item-2 {
  background-image: url("/img/video/2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog {
  padding: 80px 0;
  text-align: center;
}
.catalog__subtitle {
  font-size: 1.2em;
}
.catalog__slider {
  margin-top: 30px;
}
.catalog__slider .slick-prev {
  left: 65px;
}
.catalog__slider .slick-next {
  right: 65px;
}

.slide-catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 480px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.089);
  padding: 2px 2px 20px 2px;
  border-radius: 10px;
  margin: 0 auto;
}
.slide-catalog__img {
  width: 100%;
  border-radius: 10px;
}
.slide-catalog__text {
  text-align: left;
  margin-top: 20px;
  margin-bottom: auto;
  padding: 0 8px;
}
.slide-catalog__title {
  margin-bottom: 10px;
}
.slide-catalog__descr {
  line-height: 1.2;
}
.slide-catalog__btn {
  margin: 0 auto;
  width: 90%;
}

.call-2 {
  height: 700px;
  background-image: url("/img/bg/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  position: relative;
}
.call-2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.call-2__content {
  display: block;
  width: 700px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.call-2__tittle {
  margin-bottom: 50px;
}
.call-2__btn {
  background-color: #800000;
  color: #fff;
}

.objects {
  padding: 80px 0;
  text-align: center;
}
.objects__wrapper {
  display: flex;
  column-gap: 40px;
}
.objects__item {
  max-width: 580px;
}

.item-objects {
  text-align: left;
}
.item-objects__video {
  width: 100%;
  height: 250px;
}
.item-objects__video iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.item-objects__title {
  margin-top: 20px;
}
.item-objects__descr {
  margin-top: 15px;
  line-height: 1.2;
  font-size: 1.2em;
}

.news {
  padding: 80px 0 130px 0;
  text-align: center;
}
.news__article {
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  color: #fff;
  margin: 0 auto;
  border-radius: 10px;
}
.news .slick-prev,
.news .slick-next {
  top: 115%;
}
.news .slick-prev {
  left: 45%;
}
.news .slick-next {
  left: 52%;
}
.news .draggable {
  width: 100%;
}

.article-news__content {
  width: 50%;
  height: 100%;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.article-news__news-1 {
  background-image: url("/img/news/news-1.jpg");
}
.article-news__news-2 {
  background-image: url("/img/news/news-2.jpg");
}
.article-news__news-3 {
  background-image: url("/img/news/news-3.jpg");
}
.article-news__news-4 {
  background-image: url("/img/news/news-4.jpg");
}
.article-news__descr {
  margin-top: 20px;
  line-height: 1.2;
}
.article-news__btn {
  color: #fff;
  background-color: #800000;
  margin-top: auto;
}

.improve {
  padding: 80px 0;
  text-align: center;
}
.improve__title {
  max-width: 600px;
  margin: 0 auto;
}
.improve__descr {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.2;
  font-size: 1.2em;
}
.improve__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.improve__card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 380px;
  height: 570px;
  position: relative;
  color: #fff;
  text-align: left;
  border-radius: 10px;
}
.improve__card-1 {
  background-image: url("/img/idea/card-1.jpg");
}
.improve__card-2 {
  background-image: url("/img/idea/card-2.jpg");
}
.improve__card-3 {
  background-image: url("/img/idea/card-3.jpg");
}

.card-improve__content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.card-improve__title {
  margin-top: 50%;
}
.card-improve__decr {
  margin-top: 15px;
  line-height: 1.2;
}
.card-improve__btn {
  margin-top: auto;
  background-color: #800000;
  color: #fff;
}

.clients {
  padding: 80px 0;
  text-align: center;
}
.clients__text {
  font-size: 1.2em;
}
.clients__company {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
  margin-top: 30px;
}

.compamy-clients__link {
  border: 1px solid transparent;
  padding: 10px 10px;
  border-radius: 10px;
}
.compamy-clients__link:hover {
  border: 1px solid #800000;
  transition: all 0.5s ease-in-out;
}

.consultation {
  padding: 80px 0 0 0;
}
.consultation__title {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.consultation__form {
  height: 800px;
  background-image: url("/img/bg/bg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0 80px 0;
}

.footer {
  padding: 80px 0 0 0;
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  column-gap: 100px;
  padding-bottom: 30px;
}
.footer__logo {
  display: inline-block;
  max-width: 250px;
  cursor: pointer;
}
.footer__contacts {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__contacts * span {
  color: #000;
  font-weight: 600;
  font-size: 1.2em;
  margin-left: 5px;
}
.footer__social {
  display: flex;
  column-gap: 10px;
  margin-top: 40px;
}
.footer__map {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
}
.footer__copy {
  margin-top: 30px;
  padding: 30px 0;
  background-color: #800000;
  color: #fff;
  text-align: center;
}

.logo__img {
  width: 100%;
}

.contacts-footer__phone span:hover {
  text-decoration: underline;
}
.contacts-footer__mail span:hover {
  text-decoration: underline;
}

.form {
  max-width: 700px;
  margin: 0 auto;
  background-color: rgba(16, 17, 17, 0.5);
  border-radius: 10px;
}

.form * {
  outline: none;
}

.form__body {
  border: solid 2px #fff;
  border-radius: 10px;
  padding: 25px 25px;
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8) url("/img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease 0s;
}

.form__title {
  color: #fff;
  text-align: center;
}

.form__text {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.form__item {
  margin-bottom: 15px;
}

.form__label {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}

.form__input {
  width: 94%;
  height: 30px;
  border: none;
  background: transparent;
  border-bottom: solid 1px #fff;
  color: rgb(255, 255, 255);
  padding: 0 20px;
  border-radius: 10px;
}

.form__input:active {
  box-shadow: 0 2px 0 #2b0000;
}

.form__input._error {
  box-shadow: 0 2px 0 #fe0000;
}

textarea.form__input {
  min-height: 80px;
  resize: vertical;
  padding: 20px;
}

.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 5px #fe0000;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.checkbox__label {
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  flex: 0 0 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 8px;
  align-self: flex-start;
}

.checkbox__label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #800000;
  border-radius: 4px;
  top: 4px;
  left: 4px;
  transform: scale(0);
}

.checkbox__label span {
  color: #fff;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  background-color: #800000;
  border: none;
  border-radius: 10px;
  min-height: 50px;
  color: #fff;
  box-shadow: 2px 2px 0 #420000;
  transition: all 0.5s ease 0s;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: #2b0000;
  box-shadow: none;
}

.form__button:active {
  top: 2px;
}

@media (max-width: 1200px) {
  .images__top {
    grid-template-rows: 200px;
  }
  .img__top {
    height: 180px;
  }
  .img__bottom {
    height: 180px;
  }
  .catalog .draggable {
    width: 800px;
  }
  .objects {
    padding: 60px 0;
  }
  .objects__wrapper {
    justify-content: center;
  }
  .objects__item {
    max-width: 350px;
  }
  .improve__card {
    width: 300px;
    height: 480px;
  }
  .improve__cards {
    justify-content: center;
    column-gap: 30px;
  }
}
@media (max-width: 1024px) {
  .promo {
    padding-bottom: 60px;
  }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 0;
  }
  .about__text {
    margin-bottom: 30px;
  }
  .about__video {
    margin: 0 100px;
    height: 400px;
  }
  .about__video .video__block {
    width: 100%;
  }
  .steps .draggable {
    max-width: 100%;
  }
  .steps__card {
    width: 250px;
  }
  .images__top {
    grid-template-rows: 180px;
  }
  .img__top {
    height: 160px;
  }
  .img__bottom {
    height: 160px;
  }
  .images__top {
    column-gap: 15px;
  }
  .slider-construction__item {
    width: 425px;
  }
  .video__item {
    width: 350px;
  }
  .news__article {
    width: 450px;
  }
}
@media (max-width: 992px) {
  .slider-construction__item {
    width: 350px;
  }
  .catalog .draggable {
    width: 630px;
  }
  .news {
    padding-bottom: 30px;
  }
  .news__article {
    margin-bottom: 30px;
  }
  .improve__card {
    width: 200px;
    height: 480px;
  }
  .clients__company {
    flex-wrap: wrap;
  }
  .build .img__top-1 {
    width: 200px;
    height: 200px;
  }
  .build .img__top-2 {
    width: 200px;
    height: 200px;
  }
  .build .img__top-3 {
    width: 200px;
    height: 200px;
  }
  .build .left-bottom {
    row-gap: 20px;
  }
  .build .left-bottom__top {
    width: 150px;
    height: 150px;
  }
  .build .left-bottom__bottom {
    width: 150px;
    height: 150px;
  }
  .build .right-bottom {
    row-gap: 20px;
  }
  .build .right-bottom__top {
    width: 150px;
    height: 150px;
  }
  .build .right-bottom__bottom {
    width: 150px;
    height: 150px;
  }
  .build .img__center {
    width: 290px;
    height: 320px;
  }
}
@media (max-width: 767px) {
  .body.lock {
    overflow: hidden;
  }
  h1 {
    font-size: 2em;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.5em;
    line-height: 1.1;
  }
  h3 {
    font-size: 1em;
    line-height: 1;
  }
  .header__burger {
    display: block;
    width: 50px;
    height: 40px;
    background-color: #800000;
    position: relative;
    top: 50px;
    left: 91%;
    cursor: pointer;
    margin-top: -40px;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0 0 3px #332a2a;
  }
  .header__burger::before, .header__burger::after {
    position: absolute;
    content: "";
    display: block;
    width: 70%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    transition: all 0.5s ease-in-out;
  }
  .header__burger::before {
    top: 10px;
  }
  .header__burger::after {
    bottom: 10px;
  }
  .header__burger span {
    position: absolute;
    display: block;
    width: 70%;
    height: 2px;
    background-color: #fff;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
  }
  .header .info-header__contacts {
    display: none;
  }
  .header__menu {
    position: fixed;
    top: 125px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #800000;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  .header .menu {
    display: block;
    padding-left: 1rem;
  }
  .header .menu__item {
    margin-bottom: 20px;
  }
  .header__menu.active {
    left: 0;
  }
  .header__burger.active {
    box-shadow: none;
  }
  .promo {
    padding-bottom: 40px;
  }
  .promo__wrapper {
    width: 500px;
  }
  .about__wrapper {
    padding: 40px 0;
  }
  .cards {
    padding: 20px 0 40px 0;
  }
  .benefits {
    padding: 40px 0;
  }
  .benefits__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  .steps {
    padding: 40px 0;
  }
  .call {
    height: 500px;
    padding: 90px 0;
    margin-bottom: 40px;
  }
  .call__content {
    width: 500px;
  }
  .construction {
    padding: 40px 0 40px 0;
  }
  .construction__title {
    width: 500px;
  }
  .construction__text {
    width: 500px;
  }
  .slider-construction__item {
    margin-bottom: 40px;
  }
  .video {
    padding: 40px 0;
  }
  .video__wrapper {
    flex-direction: column;
  }
  .catalog {
    padding: 40px 0 30px 0;
  }
  .catalog .slide-catalog {
    width: 400px;
    height: 550px;
    margin-bottom: 40px;
  }
  .catalog .draggable {
    width: 500px;
  }
  .call-2 {
    height: 500px;
    padding: 115px 0;
    margin-bottom: 40px;
  }
  .call-2__content {
    width: 500px;
  }
  .objects {
    padding: 40px 0;
  }
  .objects__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .objects__item {
    margin-bottom: 30px;
  }
  .news {
    padding: 40px 0;
  }
  .news__article {
    margin-bottom: 30px;
  }
  .improve {
    padding: 40px 0;
  }
  .improve__cards {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .improve__card {
    width: 500px;
    height: 300px;
  }
  .improve .card-improve__title {
    margin-top: 0;
  }
  .clients {
    padding: 40px 0;
  }
  .consultation {
    padding: 40px 0;
  }
  .footer__wrapper {
    column-gap: 35px;
  }
  .build {
    padding: 40px 0;
  }
  .footer {
    padding: 40px 0 0 0;
  }
}
@media (max-width: 561px) {
  .header__burger {
    left: 80%;
  }
  .header__menu {
    top: 88px;
  }
  .info-header__logo {
    margin: 0 auto;
  }
  .info-header__connection {
    display: none;
  }
  .promo__wrapper {
    width: 300px;
  }
  .about__video {
    margin: 0 auto;
    height: 200px;
  }
  .call__content {
    width: 300px;
  }
  .build__images {
    row-gap: 15px;
  }
  .build .images__top {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .build .images__bottom {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }
  .build .img__top-1 {
    width: 300px;
    height: 300px;
  }
  .build .img__top-2 {
    width: 300px;
    height: 300px;
  }
  .build .img__top-3 {
    width: 300px;
    height: 300px;
  }
  .build .left-bottom {
    row-gap: 15px;
  }
  .build .left-bottom__top {
    width: 300px;
    height: 300px;
  }
  .build .left-bottom__bottom {
    width: 300px;
    height: 300px;
  }
  .build .right-bottom {
    row-gap: 15px;
  }
  .build .right-bottom__top {
    width: 300px;
    height: 300px;
  }
  .build .right-bottom__bottom {
    width: 300px;
    height: 300px;
  }
  .build .img__center {
    width: 300px;
    height: 300px;
  }
  .build .build-img:hover {
    transform: scale(1.2);
  }
  .construction__title {
    width: 300px;
  }
  .construction__text {
    width: 300px;
  }
  .catalog .slide-catalog {
    width: 300px;
  }
  .catalog .draggable {
    width: 300px;
  }
  .call-2__content {
    width: 300px;
  }
  .news {
    padding-top: 10px;
  }
  .news__article {
    width: 300px;
  }
  .news .article-news__content {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  .consultation__title {
    max-width: 300px;
  }
  .footer__wrapper {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  .footer__map {
    width: 300px;
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts {
    align-items: center;
  }
}